{% extends "wrapper.html" %}

{% block content %}

<div class="container mt-3">
  <div class="row text-center">
    <div class="col">
        <h3>Official exchange rates for {{ date }}</h3><br>
        <h3><a href="https://www.cbr.ru/eng/currency_base/daily/">rbc.ru</a></h3>
    </div>
  </div>
</div>

<div class="container mt-5">
  <form method="post">

    <input type="char_code" name="char_code" placeholder="Charcode e.g. usd">
    <input type="submit" value="Submit">

  </form>

</div>


<div class="container-fluid mt-5 w-auto table-responsive">
  <table class="table text-white table-bordered fixed">
    <thead>
      <tr>
        {% for attr in attributes %}
        <th class="text-center" scope="col">{{ attr }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for curr in currencies %}
        <tr>
        {% for val in curr %}
        <th class="text-center" scope="col">{{ val }}</th>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}